html, body, div, span, i, em, u,
h1, h2, h3, h4, h5, h6, p, table, caption,
tbody, tfoot, thead, tr, th, td,
input, textarea, abbr, form, fieldset {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: normal;
}

:focus {
    outline:0;
}



/* fonts < */



@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('fonts/PTS76F-webfont.eot');
    src: url('fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS76F-webfont.woff') format('woff'),
         url('fonts/PTS76F-webfont.ttf') format('truetype'),
         url('fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS75F-webfont.woff') format('woff'),
         url('fonts/PTS75F-webfont.ttf') format('truetype'),
         url('fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('fonts/PTS56F-webfont.eot');
    src: url('fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS56F-webfont.woff') format('woff'),
         url('fonts/PTS56F-webfont.ttf') format('truetype'),
         url('fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F-webfont.woff') format('woff'),
         url('fonts/PTS55F-webfont.ttf') format('truetype'),
         url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('fonts/PTN77F-webfont.eot');
    src: url('fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN77F-webfont.woff') format('woff'),
         url('fonts/PTN77F-webfont.ttf') format('truetype'),
         url('fonts/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'arialnarrow';
    src: url('fonts/arialn-webfont.eot');
    src: url('fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arialn-webfont.woff') format('woff'),
         url('fonts/arialn-webfont.ttf') format('truetype'),
         url('fonts/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* fonts  > */

body {
    font-family: 'Arial', 'Helvetica', 'Geneva', sans-serif;
    font-size:14px;
    color: #000101;
    line-height: 1.2;
}


img, a img {
    border:none;
}
a {
    color: #305193;
    text-decoration: underline;
}
a:hover {
    text-decoration:none;
}

p {
    line-height: 24px;
    margin-bottom: 15px;
}

.title {
	color: #000;
	font-size: 33px;
	font-family: 'arialnarrow';
	margin-bottom: 12px;
}
.subtitle {
	color: #000;
	font-size: 27px;
	font-family: 'arialnarrow';
	margin-bottom: 12px;
}

h2 {


}

h3 {

}

h4 {

}



/* common blocks < */

.block {
    position: relative;
    padding: 26px 29px;
}

.block_gray-bordered {
    border:3px solid #e6e7e8;
    border-radius: 10px;
}
.block_gray-bordered_light {
    border:1px solid #c9c9c9;
    border-radius: 10px;
    padding: 25px 32px 15px;
    margin-bottom: 40px;
}
.block_yellow-bordered {
    border:3px solid #ffd400;
    border-radius: 10px;
}

.block__title {
    border-bottom: 1px dotted #000000;
    color: #9E0D15;
    font-family: 'PTSansNarrowBold';
    font-size: 17px;
    margin: -7px 0 0;
    padding-bottom: 17px;
    text-transform: uppercase;
}

.block__bottom {
    position: relative;
    padding-top: 25px;
    border-top:1px dotted #000;
    margin-top: 15px;
    min-height: 18px;
}

 a .ico_comments {
    text-align: center;
    font-family: 'Arial','Helvetica', 'Geneva', sans-serif;
    font-size: 11px;
    text-transform: none;
    color:#000;
    font-style: normal;
    line-height: 15px;
    margin-top: 2px;
}



/* common blocks > */

/* pure-content styles < */

.dotted-box {
	border-top:1px dotted #000000;
	padding-top: 30px;
	margin-bottom: 30px;
}
.dotted-box:first-child {
	border: 0;
}
/* pure-content styles > */

/* forms < */

.round-form {
    position: relative;
    border:1px solid #d3d3d3;
    border-radius:5px;
}
 .round-form .field {
    background: none;
    padding:7px 15px;
}
.fields-list {
    margin: 0;
    padding: 0;
}

.fields-list__item {
    list-style: none outside;
    padding: 0;
    margin: 0 0 15px;
}

input, textarea, select {
	color: #4a4a48;
	font-size: 13px;
	font-family: 'Arial', 'Helvetica', sans-serif;
}
textarea {
	resize:none;
}

label {
    color:#555555;
    font-size: 18px;
    text-shadow:1px 1px 1px #ffffff;
    display: block;
    margin-bottom: 5px;
    margin-left: 3px;
}

.field_text {
    border:1px solid #cecece;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: #010000;
    font-family: 'Arial', 'Helvetica', sans-serif;
    height: 14px;
    position: relative;
    behavior: url(PIE.htc);
}


.field_textarea {
    border:1px solid #cecece;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: #010000;
    height: 102px;
    resize: none;
    font-family: 'Arial', 'Helvetica', sans-serif;
    position: relative;
    overflow: auto;
}

.field_chbox_box {
    position: relative;
    padding-left: 20px;
}
.field_chbox_box input,
.field_chbox_box .jqTransformCheckboxWrapper  {
    position: absolute;
    top:1px;
    left:0;
}
.field_chbox_box label {
    position: relative !important;
    width: auto !important;
    top:auto !important;
    text-align: left !important;
}

.field_error.placeholder {
    color: #e91d02;
}
input.field_error:-moz-placeholder,
textarea.field_error:-moz-placeholder { color: #e91d02;	 }

input.field_error::-moz-placeholder,
textarea.field_error::-moz-placeholder { color: #e91d02; }


input.field_error::-webkit-input-placeholder,
textarea.field_error::-webkit-input-placeholder { color: #e91d02; }

.form-error {
    margin: 20px 0;
    margin-left: 10px;
}
.form-error h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'PTSansNarrowBold';
     color: #e91d02;
}
.errors-list {
    margin: 0;
}
.errors-list li {
    color: #e91d02;
    font-size: 14px;
    margin-bottom: 3px;
    font-family: 'PTSansNarrowRegular';
}

.form-note {
	color: #262627;
	font-size: 13px;
	margin-bottom: 8px;
	line-height: 15px;
}

.jqTransformHidden {display: none;}

.jqTransformCheckbox {
    background: url(../images/bg/icons.png) no-repeat -33px -36px;;
    vertical-align: top;
    height: 13px;
    width: 13px;
    display:inline-block;
}
.jqTransformCheckbox.jqTransformChecked {
    background-position:-33px -51px;
}

.jqTransformRadioCheckbox {
    margin:-1px 3px 0;
    display: inline-block;
    vertical-align: middle;
}


.btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 15px;
}

.btn_blue {
    border-top:1px solid #2d5ebe;
    font-family: 'PTSansNarrowRegular';
    height: 33px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
    text-shadow:1px 1px 1px #23427e;
    background-image: url(../images/bg/blue-btn-bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-transform: uppercase;
    -o-background-size: 100% 32px; /* opera ≥ 9.5 */
    -webkit-background-size: 100% 32px /* Safari ≥ 5.0, Chrome ≥ 4.0 */
	-khtml-background-size: 100% 32px; /* Konqueror ≥ 3.5.4 */
    -moz-background-size: 100% 32px; /* Firefox ≥ 3.6 */
    background-size: 100% 32px; /* браузеры с поддержкой CSS3: FF ≥ 4, Opera ≥ 10.53, IE ≥ 9.0 */
    bottom:0;
    right:0;

}

.btn_rounded {
      border-radius:5px;
	  padding: 0 14px;
}


/* forms > */

/* main styles */

.link-ico {
    text-decoration: none;
    position: relative;
}

.menu,.menu__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

/* icons  < */

.ico {
    background: url(../images/bg/icons.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: top;
}

.ico_fb {
    background-position: -32px -33px;
    height: 30px;
    width: 30px;
}
.ico_vk {
    background-position: -63px -33px;
    height: 30px;
    width: 30px;
}
.ico_comments {
    background-position: -32px -67px;
    height: 16px;
    padding-right: 4px;
    width: 18px;
}

/* clear */

.clearfix:after,
.header .inner:after,
.menu:after,
.top:after,
.fields-list:after,
.bottom__inner:after,
.section_info:after,
.section_promo:after,
.section_banners:after,
.promo-tabs__tabs:after,
.columns:after,
.section_materials:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

