input {
    overflow:visible;
}

/* zoomin */
.clearfix,
.menu,
.fields-list,
.fields-list__item, 
.section_banners {
	zoom:1;
}

.section_sitemap  .menu__item,
.btn,
jqTransformRadioWrapper,
.jqTransformCheckboxWrapper,
.jqTransformRadio,
.jqTransformCheckbox {
   *zoom:1;
   *display:inline;
}

.wrap {
	zoom:1;
}

.ico {
	margin-right: 3px;
}

/* Через условные комментарии или хаки пишем стили для IE */  
* html body {
    /* IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg/red-arrow.png" sizingMethod="scale");
    /* IE &lt; 8 */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src="images/bg/red-arrow.png" sizingMethod="scale");
    background-image: none; /* IE ≤ 9.0 */
}